<!DOCTYPE html>
<html data-theme="dark" class="min-h-screen flex items-center justify-center bg-gray-900">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="<%= @memory_title %>">
  <meta property="og:description" content="<%= @memory %>">
  <meta property="og:image" content="<%= image_url('ogp_image.jpg') %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @memory_title %>">
  <meta name="twitter:description" content="<%= @memory %>">
  <meta name="twitter:image" content="<%= image_url('ogp_image.jpg') %>">
  <meta name="twitter:site" content="@your_twitter_handle">
  <title><%= @memory_title %></title>
</head>
<body>
  <div class="w-full max-w-lg bg-gray-800 p-10 rounded-lg shadow-lg">
    <h1 class="text-center mb-6 text-purple-500 text-4xl font-bold">
      <%= @memory_title %>
    </h1>
    <p class="text-center mb-8 text-gray-200">
      <%= @memory %>
    </p>
    <div class="flex justify-center mb-6">
      <%= link_to '別の記憶を思い出す', root_path, class: "btn btn-primary bg-purple-700 hover:bg-purple-800 text-white font-bold py-3 px-6 rounded-lg transition duration-300" %>
    </div>
    <% share_text = "#{@memory_title}: #{@memory} #存在しない記憶" %>
    <div class="flex justify-center">
      <a href="https://twitter.com/intent/tweet?text=<%= CGI.escape(share_text) %>" target="_blank" class="btn btn-secondary bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
        Xでシェアする
      </a>
    </div>
  </div>
</body>
</html>
