<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- OGP & Twitter Card Meta Tags -->
    <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : 'Myapp' %>">
    <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : '存在しない記憶を共有しよう！' %>">
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url('ogp.png') %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:twitter_title) ? yield(:twitter_title) : 'Myapp' %>">
    <meta name="twitter:description" content="<%= content_for?(:twitter_description) ? yield(:twitter_description) : '存在しない記憶を共有しよう！' %>">
    <meta name="twitter:image" content="<%= content_for?(:twitter_image) ? yield(:twitter_image) : image_url('ogp.png') %>">
    <meta name="twitter:site" content="@your_twitter_handle">

    <!-- Link to manifest and icons -->
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
    <%= render "share/footer" %>
  </body>
</html>

